<% provide(:title, "Coming Soon") %>
<a data-anchor-id="feature">
	<div class="banner top-bottom-inset-shadows" style="background-image: url(<%= asset_path('backgrounds/home.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-7">
				<p class="light-text title serif clear-theme">Coming Soon</p>
				<p class="light-text subtitle sans-serif clear-theme">Oops! This an upcoming feature, our product team is working hard to deliver it to you as soon as possible.</p>
				<a href="/home">
					<button type="button" class="btn dark-orange-theme orange-hover button subtitle wide-sans-serif">
						Back to Home
					</button>
				</a>
			</div>
		</div>
	</div>
</a>