	<div class="main-banner">
		<div class="container">
			<div class="banner-caption">
				<p>Coming Soon</p>
			</div>
		</div>
		<div class="banner">
			<%= image_tag("banner1.jpg") %>
		</div>
	</div>