<% provide(:title, "Community") %>

<a data-anchor-id="feature">
	<div class="banner-sm" style="background-image: url(<%= asset_path('backgrounds/home.jpg') %>)">
		<div class="row d-flex align-items-center">
			<div class="message text-center col-sm-7">
				<p class="light-text title serif clear-theme">Community</p>
			</div>
		</div>
	</div>
</a>

<a data-anchor-id="courses">
	<div class="banner-sm">
        <div class="row">
          <div class="col-lg-1 col-sm-0"></div>

          <div class="message col-lg-10 col-sm-12">
            <div id="course-app"></div>
          </div>

          <div class="col-lg-1 col-sm-0"></div>
        </div>
      </div>
    </div>
	</div>
</a>
<script>
  let preload_data = {
    subpath: "<%= @subpath.to_s %>"

  }
</script>