.note-pad {
  padding: 10px;
  position: fixed;
  bottom: -1px;
  right: -1px;
  background: none;
  text-align: right;
  z-index: 1;

  .note.orange-text {
    color: rgb(245, 150, 31);
  }
  .note.blue-text {
    color: rgb(77, 209, 219);
  }
  .note {
    margin: 10px;
    padding: 10px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(250, 250, 250);
    box-shadow: 5px 5px 10px 0px rgb(10, 10, 10);
    font-weight: bold;
    float: right;
    
    .dismiss {
      margin: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}