#chingari-resources {

    /*========== Resources ==========*/
    .resources-page .panel {
        margin-top: 15px;
        border: 2px solid #4DD1DB;
        border-radius: 45px;
        padding: 20px 0px;
        box-shadow: inset -3px -8px 8px -8px #4DD1DB;
    }
    .resources-sec{
        padding: 50px 0px;
    }
    .panel-heading .left img{
        width: 120px;
        margin: auto;
        display: block;
    }
    .panel-heading .right h1{
        font-size: 28px;
        color: #42BBC3;
        text-align: left;
    }
    .panel-collapse .panel-body{
        border: none!important;
        padding: 0px;
    }
    .panel-heading .right p, .panel-body p{
        font-size: 18px;
        text-align: left;
    }
    .panel-collapse .panel-body ul{
        margin: 40px 0px;
        padding: 0px 30px;
    }
    .panel-collapse .panel-body ul li{
        text-align: left;
        font-size: 22px;
        line-height: 40px;
        list-style: none;
    }
    .panel-collapse .panel-body ul li::before {
        content: "";
        height: 10px;
        width: 10px;
        background: #4DD1DB;
        position: relative;
        visibility: visible;
        display: -webkit-inline-flex;
        margin-bottom: 10px;
        border-radius: 50%;
        position: relative;
        top: -3px;
        margin-right: 20px;
    }
    .panel-title a{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #fff;
    }
    .panel-title {
        margin-top: -25px;
    }
    #accordion .panel-heading { padding: 0;}
    #accordion .panel-title > a {
        display: block;
        padding: 18px;
        outline: none;
        font-weight:bold;
        text-decoration: none;
    }

    #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before {
        content: "\e113";
        float: left;
        background-image: asset_url("collapse-close.png");
        margin-right: 1em;
        background-size: contain;
        height: 49px;
        width: 60px;
        background-repeat: no-repeat;
        color: transparent;
        margin: auto;
        display: block;
        text-align: center;
        margin-top: -18px;
    }
    #accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
        background-image: asset_url("collapse-open.png");
    }
    /*========== //Resources ==========*/
    .logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:#6DDB07;float:left;width:15%}
    .logo a{color:#6DDB07;}
    nav{position:relative;margin:0 auto;}
    #cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
    #cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
    #cssmenu #head-mobile{display:none}
    #cssmenu{font-family:sans-serif;background: #4DD1DB; width: 100%;}
    #cssmenu > ul > li{float:left}
    #cssmenu > ul > li > a {
        padding: 15px 35px;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #fff;
        font-weight: 100;
        text-transform: capitalize;
    }
    #cssmenu ul li.active a{color: #ffffff }
    #cssmenu > ul > li:hover > a{color: #CC7201; }
    /*#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:#448D00!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}*/
    #cssmenu > ul > li.has-sub > a{padding-right:30px}
    /*#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
    #cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}*/
    #cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
    #cssmenu ul ul{position:absolute;left:-9999px}
    #cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background: #4DD1DB;transition:all .25s ease}
    #cssmenu ul ul li:hover{}
    #cssmenu li:hover > ul{left:auto;z-index: 1;}
    #cssmenu li:hover > ul > li{height: auto;}
    #cssmenu ul ul ul{margin-left:100%;top:0}
    #cssmenu ul ul li a {
        padding: 15px 15px;
        width: 240px;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
    }
    #cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
    #cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#CC7201;}
    #cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
    #cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
    #cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
    #cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
    #cssmenu ul ul ul li.active a{border-left:1px solid #333}
    #cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

    @media screen and (max-width:1000px){
        .logo{position:relative;top:0;left: 0;width:100%;height:auto;text-align:center;padding:10px 0 0 0 ;float:none}
        .logo2{display:none}
        nav{width:100%;}
        #cssmenu{width:100%}
        #cssmenu ul{width:100%;display:none}
        #cssmenu ul li{width:100%;border-top:1px solid #444}
        #cssmenu ul li:hover{background:unset;}
        #cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
        #cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
        #cssmenu > ul > li{float:none}
        #cssmenu ul ul li a{padding-left:25px}
        #cssmenu ul ul li{background: #4DD1DB!important;}
        #cssmenu ul ul li:hover{background:#4DD1DB!important}
        #cssmenu ul ul ul li a{padding-left:35px}
        #cssmenu ul ul li a{color:#ddd;background:none}
        #cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
        #cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
        #cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
        #cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
        .button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;}
        .button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}

        .button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}

        .button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
        .button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
        #cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
        #cssmenu .submenu-button.submenu-opened{background:#4DD1DB}
        #cssmenu ul ul .submenu-button{height:34px;width:34px}
        /*#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
        #cssmenu ul ul .submenu-button:after{top:15px;right:13px}*/
        #cssmenu .submenu-button.submenu-opened:after{background:#fff}
        /*#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
        #cssmenu ul ul .submenu-button:before{top:12px;right:16px}*/
        #cssmenu .submenu-button.submenu-opened:before{display:none}
        #cssmenu ul ul ul li.active a{border-left:none}
        #cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
    }

        @media screen and (max-width: 992px){
        .our-team h2 {
            font-size: 15px;
            margin: 30px 0;
        }
    }
}