<%= stylesheet_link_tag    'courses_small', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Course Name</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Description</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat </p>
                    <a href="#" class="btn btn-primary" id="enroll-btn">Enroll / Drop Course</a>
                </div>
                <div class="col-sm-6" id="right-col">

                    <h4>Instructor</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-thumbnail" src="https://images.ricardocuisine.com/services/recipes/1074x1074_590-background.jpg" id="prof-pic" alt="">
                        </div>
                        <div class="col-sm-6">
                            <p> ALBUS
                                <br>
                                DUMBLEDORE
                            </p>
                            <a class="btn btn-secondary" type="button" href="#">CONTACT</a>
                        </div>
                    </div>
                    <h4 id="resources">Resources</h4>
                    <a href="#">Link to Slides 1</a>
                    <br>
                    <a href="#">Link to Resources 2</a>
                    <br>
                    <a href="#">Link to Other Resources</a>
                </div>
            </div>
        </div>
    </div>
