.btn-secondary {
    color: black;
    background: white;
}

#enroll-btn {
    margin-top: 10px;
}

#resources {
    margin-top: 10px;
}

#right-col {
    padding-left: 50px;
}

.card {
    background: pink;
    width: 40rem;
    padding-bottom: 1rem;
}
