@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* Universal 
*/
section {
  overflow: auto;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

#navbar-offset {
  margin-top: $navbar_height;
}

.page_title {
  text-align: center;
}

/* For debug environment */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.fade-in, .fade-in-delayed {
  opacity: 0;
}

.center {
  text-align: center;
}

#error-container {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  z-index: 999;
}


/* User signup */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* User signin */

h1 {
  text-align: center;
}