<footer class="dark-blue-theme footer">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <a name="contact" class="title padded">Contact Us</a>
      <ul class="super-text">
          <li>1-800-123-4567</li>
          <li><a href="mailto:hello@chingari.org">hello@chingari.org</a></li>
          <li>
            Chingari does not provide emergency services.<br>If you are having an emergency please <b>call 911</b>
          </li>
          <!-- Site map is really unnecessary -->
          <!-- <li><a href="#">Site Map</a></li> -->
          <!-- Hide this until we have a mailing subscription service set up -->
          <!-- <li><a href="#">Join Our Mailing List</a></li> -->
      </ul>
    </div>
    <div class="col-lg-4 col-md-12">
      <a name="Follow Us" class="title padded">Follow Us</a>
      <ul class="super-text">
          <li><a href="https://twitter.com/ChingariOrg"><%= fa_icon "twitter", text: "Twitter" %></a></li>
          <li><a href="https://www.facebook.com/chingari.org/"><%= fa_icon "facebook", text: "Facebook" %></a></li>
          <li><a href="https://www.instagram.com/chingariorg/"><%= fa_icon "instagram", text: "Instagram" %></a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-12">
      <a href="/home">
        <%= image_tag("footer-logo.png", class: "footer-logo") %>
      </a>
    </div>
  </div>
</footer>