<!-- <footer class="footer">
  <small>
    Chingari
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer> -->

    <!-- Footer -->
    <div class="bottom-navigation">
        <div class="bottom-trip">
            <div class="container">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 left">
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Join Our Mailing List</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 right">
                    <img src="http://solutionsofts.com/nikhil/wp-content/themes/blank-theme/images/footer-logo.png" class="img-responsive footer-logo">
                </div>
            </div>
        </div>
    </div>
    <!-- // Footer -->
    


        <!-- Wow Animation-->
        <script defer src="js/wow.js"></script>
        <!-- End Wow Animation-->
        <!-- Owl -->
        <script>
        $(document).ready(function() {
          $("#owl-demo").owlCarousel({
            autoPlay: 3000,
            items : 4,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3]
          });

        });
        </script>
        <!-- End Owl -->